# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Static files
staticfiles/

# Dependencies
.deps/

# Node modules
node_modules/

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
